<!DOCTYPE html>
<html>
  <head>
   <title>INDICE - Pesquisa de Opinião</title>
   
   <script>
          <%= javascript_include_tag :defaults %>
          <%= csrf_meta_tag %>
   </script>
    
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"> 
   </script>
        
        <style type="text/css">
           @import url("stylesheets/scaffold.css");
        </style>

  </head>
  <body>
  
  <div id="espacomarcatopo">
     <div id="imagemtopodireita">
        <img src="/images/img_topo_clientes.jpg" alt="Indece BH" border="0" />
     </div>
        
     <div id="marcatopo">
        <a href="index.html"> <img src="/images/indice_verde.jpg" alt="Indece BH" border="0" /></a>
     </div>
  </div>
  
  <div id="faixaverdeclientes"></div>
  
  
  <div id="menutopo">
  <ul>       
        <li> <a href="./indice_bhs"> <div class="btnindice"> </div> </a></li>
        <li> <a href="./servicosindices"> <div class="btnnossoservicos"> </div> </a></li>
        <li> <a href="./indicetvs"> <div class="btnindicetv"> </div> </a> </li>
        <li> <a href="./clientes"> <div class="btnclientes2"> </div> </a> </li>
        <li> <a href="./estruturaindicebhs"> <div class="btninstalacoes"> </div> </a></li>
        <li> <a href="./contatos"> <div class="btncontato"> </div> </a> </li>
       
  </ul>
  </div>
  
  <div id="conteudocentralhome">
     <div id="conteudoclientes">
	<ul>
	   <li><img src="/images/clientes/ids.jpg" width="70%" height="70%" alt="IDS MARKET ANALYSIS" border="0" /></li>
	   <li><img src="/images/clientes/acto.jpg" width="70%" height="70%" alt="ACTO" border="0" /></li>
	   <li><img src="/images/clientes/ipsos.jpg" width="70%" height="70%" alt="IPSOS" border="0" /></li>
	   <li><img src="/images/clientes/insider.jpg" width="70%" height="70%" alt="INSIDER" border="0" /></li>
	   <li><img src="/images/clientes/multifocos.jpg" width="70%" height="70%" alt="MULTIFOCOS" border="0" /></li>
	   <li><img src="/images/clientes/behavior.jpg" width="70%" height="70%" alt="BEHAVIOR" border="0" /></li>
	   <li><img src="/images/clientes/clr.jpg" width="70%" height="70%" alt="CLR" border="0" /></li>
	   <li><img src="/images/clientes/fivebrasil.jpg" width="70%" height="70%" alt="FIVEBRASIL" border="0" /></li>
           <li><img src="/images/clientes/ibope.jpg" width="70%" height="70%" alt="IBOPE" border="0" /></li>
	   <li><img src="/images/clientes/motivoeacao.jpg" width="70%" height="70%" alt="MOTIVO E AÇÃO" border="0" /></li>
	   <li><img src="/images/clientes/target.jpg" width="70%" height="70%" alt="TARGET MARKETING" border="0" /></li>
           <li><img src="/images/clientes/givaldan.jpg" width="70%" height="70%" alt="GIVALDAN" border="0" /></li>
	</ul>
     </div>
  </div>
  
  
  <div id="conteudofooter">
     <p> Rua Cuiabá | Bairro Prado | Belo Horizonte | CEP 30840-500 | Minas Gerais</p>
     <p> Telefone: 31 3371.2874 | Free Call: 0800.283.3313 | E-mail:indice@indicebh.com.br </p>
  </div>
  
  <div id="espacomarcafooter">
     <div id="imagemfooteresquerdaClientes">
        <img src="/images/img_footer_clientes.jpg" alt="Indece BH" border="0" />
     </div>
  </div>
  
  <div id="faixaverdeclientesfooter"></div>
  
  
  
  
  </body>
</html>
