<!DOCTYPE html>
<html>
  <head>
   <title>INDICE - Pesquisa de Opinião</title>

   <script>
          <%= javascript_include_tag :defaults %>
          <%= csrf_meta_tag %>
   </script>

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
   </script>

        <style type="text/css">
           @import url("stylesheets/scaffold.css");
        </style>

  </head>
  <body>

  <div id="espacomarcatopo">
     <div id="imagemtopodireita">
        <img src="/images/img_topo_clientes.jpg" alt="Indece BH" border="0" />
     </div>

     <div id="marcatopo">
        <a href="indice_pincipals"> <img src="/images/indice_verde.jpg" alt="Indece BH" border="0" /></a>
     </div>
  </div>

  <div id="faixaverdeclientes"></div>


  <div id="menutopo">
  <ul>
        <li> <a href="./indice_bhs"> <div class="btnindice"> </div> </a></li>
        <li> <a href="./servicosindices"> <div class="btnnossoservicos"> </div> </a></li>
        <li> <a href="./indiceconexaos"> <div class="btnindicetv"> </div> </a> </li>
        <li> <a href="./clientes"> <div class="btnclientes2"> </div> </a> </li>
        <li> <a href="./estruturaindicebhs"> <div class="btninstalacoes"> </div> </a></li>
        <li> <a href="./contatos"> <div class="btncontato"> </div> </a> </li>

  </ul>
  </div>

  <div id="conteudoclientecentralclientes">

  <div id="conteudocentralclientes">
     <div id="conteudoclientes110">
	      <table>
	        <tr>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/ids.jpg" alt="IDS MARKET ANALYSIS" border="0" /></tb>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/acto.jpg" alt="ACTO" border="0" /></tb>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/ipsos.jpg" alt="IPSOS" border="0" /></tb>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/insider.jpg" alt="INSIDER" border="0" /></tb>
	         <tb><img src="/images/clientes/multifocos.jpg" alt="MULTIFOCOS" border="0" /></tb>
	        </tr>
        </table>
	  </div>
	  <div id="conteudoclientes110">
	      <table>
	        <tr>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/behavior.jpg" alt="BEHAVIOR" border="0" /></tb>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/clr.jpg" alt="CLR" border="0" /></tb>
	         <tb><img class="espacomarcacliente40" src="/images/clientes/fivebrasil.jpg" alt="FIVEBRASIL" border="0" /></tb>
           <tb><img class="espacomarcacliente40" src="/images/clientes/focus.jpg" alt="FOCUS" border="0" /></tb>
           <tb><img src="/images/clientes/oi.jpg"  alt="OI" border="0" /></tb>
         </tr>
        </table>
    </div>
    <div id="conteudoclientes70">
	      <table>
	        <tr>
           <tb><img class="espacomarcacliente25" src="/images/clientes/ibope.jpg" alt="IBOPE" border="0" /></td>
           <tb><img class="espacomarcacliente25" src="/images/clientes/boticario.jpg" alt="BOTICARIO" border="0" /></td>
           <tb><img class="espacomarcacliente25" src="/images/clientes/mercantil.jpg" alt="MERCANTIL" border="0" /></td>
           <tb><img src="/images/clientes/petrobras.jpg" alt="PETROBRAS" border="0" /></td>
          </tr>
        </table>
    </div>
    <div id="conteudoclientes70">
      <table>
        <tr>
          <td><img class="espacomarcacliente25" src="/images/clientes/ibmec.jpg" alt="IBMEC" border="0" /></td>
          <td><img class="espacomarcacliente25" src="/images/clientes/pirrelli.jpg" alt="PIRELLI" border="0" /></td>
          <td><img class="espacomarcacliente25" src="/images/clientes/target.jpg" alt="TARGET MARKETING" border="0" /></td>
          <td><img src="/images/clientes/tim.jpg" alt="TIM" border="0" /></td>
        </tr>
      </table>
    </div>
    <div id="conteudoclientes70">
      <table>
        <tr>
          <td><img class="espacomarcacliente25" src="/images/clientes/motivoeacao.jpg" alt="MOTIVO E AÇÃO" border="0" /></td>
          <td><img class="espacomarcacliente25" src="/images/clientes/carrefour.jpg" alt="CARREFOUR" border="0" /></td>
          <td><img src="/images/clientes/givaldan.jpg" alt="GIVALDAN" border="0" /></td>
        <tr>
      </table>
     </div>
  </div>
  </div>

  <div id="conteudofooter">
     <p>Rua Professor Arduino Bolivar | 215 | Santo Antônio | Belo Horizonte | CEP 30.350-140 | Minas Gerais</p>
     <p>Telefone: 31 3371.2874 | Free Call: 0800.283.3313 | E-mail:indice@indicebh.com.br | <a class="comochegar" href="http://maps.google.com.br/maps?q=Rua+Professor+Arduino+Bolivar+|+215+|+Santo+Ant%C3%B4nio+|+Belo+Horizonte+|+CEP+30.350-140+|+Minas+Gerai&hl=pt-BR&ie=UTF8&sll=-19.934906,-43.932416&sspn=0.006183,0.009645&vpsrc=0&z=17" target="_blank"> Como chegar </a>  </p>
  </div>

  <div id="espacomarcafooter">
     <div id="imagemfooteresquerdaClientes">
        <img src="/images/img_footer_clientes.jpg" alt="Indece BH" border="0" />
     </div>
  </div>

  <div id="faixaverdeclientesfooter"></div>




  </body>
</html>

