<p id="notice"><%= notice %></p>

<p>
  <b>Senha:</b>
  <%= @estruturaindicebh.senha %>
</p>


<%= link_to 'Edit', edit_estruturaindicebh_path(@estruturaindicebh) %> |
<%= link_to 'Back', estruturaindicebhs_path %>
