<p id="notice"><%= notice %></p>

<p>
  <%= @pesquisaqualitativa.pesquisaqualitativa %>
</p>


<%= link_to 'Editar', edit_pesquisaqualitativa_path(@pesquisaqualitativa) %> |
<%= link_to 'Voltar', pesquisaqualitativas_path %>
