<p id="notice"><%= notice %></p>

<p>
  <%= @nossos_servico.pesquisaQuantitativa %>
</p>

<%= link_to 'Editar', edit_nossos_servico_path(@nossos_servico) %> |
<%= link_to 'Voltar', nossos_servicos_path %>
