<!DOCTYPE html>
<html>
  <head>
   <title>INDICE - Pesquisa de Opinião</title>

   <script>
          <%= javascript_include_tag :defaults %>
          <%= csrf_meta_tag %>
   </script>

   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
   </script>

        <style type="text/css">
           @import url("stylesheets/scaffold.css");
        </style>

  </head>
  <body>

  <div id="espacomarcatopo">
     <div id="imagemtopodireita">
        <img src="/images/indiceTVgirasol.jpg" alt="Indece BH" border="0" />
     </div>

     <div id="marcatopo">
        <a href="indice_pincipals"> <img src="/images/indiceTV.jpg" alt="Indece BH" border="0" /></a>
     </div>
  </div>

  <div id="faixaverdeindicetv"></div>


  <div id="menutopo">
  <ul>
        <li> <a href="./indice_bhs"> <div class="btnindice"> </div> </a></li>
        <li> <a href="./servicosindices"> <div class="btnnossoservicos"> </div> </a></li>
        <li> <a href="./indiceconexaos"> <div class="btnindicetv2"> </div> </a> </li>
        <li> <a href="./clientes"> <div class="btnclientes"> </div> </a> </li>
        <li> <a href="./estruturaindicebhs"> <div class="btninstalacoes"> </div> </a></li>
        <li> <a href="./contatos"> <div class="btncontato"> </div> </a> </li>

  </ul>
  </div>

  <div id="conteudocentralindicetv">
     <div id="centroindiceTV">

	<div id="conteudindicetvleft">
	   <table>
	      <tr>
	         <td><input class="inputsenha" type="password" size="10" name="id"></td>
	      </tr>
	      <tr>
	         <td><input class="btnentrar" type="submit" value="Entrar"></td>
	      </tr>
	   </table>
	</div>

	<div id="imagemIndiceBH">
	   <img src="/images/indiceTVsatelite.jpg" alt="Imagens indice TV" border="0" />
	</div>

     </div>
  </div>


  <div id="conteudofooter">
     <p>Rua Professor Arduino Bolivar | 215 | Santo Antônio | Belo Horizonte | CEP 30.350-140 | Minas Gerais</p>
     <p>Telefone: 31 3371.2874 | Free Call: 0800.283.3313 | E-mail:indice@indicebh.com.br | <a class="comochegar" href="http://maps.google.com.br/maps?q=Rua+Professor+Arduino+Bolivar+|+215+|+Santo+Ant%C3%B4nio+|+Belo+Horizonte+|+CEP+30.350-140+|+Minas+Gerai&hl=pt-BR&ie=UTF8&sll=-19.934906,-43.932416&sspn=0.006183,0.009645&vpsrc=0&z=17" target="_blank"> Como chegar </a>  </p>
  </div>

  <div id="espacomarcafooter">
     <div id="imagemfooteresquerda">
        <img src="/images/indiceTVmapa.jpg" alt="Indece BH" border="0" />
     </div>
  </div>

  <div id="faixaverdeindicetvfooter"></div>




  </body>
</html>

